#Guardian-body {
  margin: 0;
  padding: 0;
  background: url("../static/img/gardback.jpg") no-repeat 100% 100%;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.gard-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.button_subcont {
    border: none;
    background: #9f8066;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.button_subcont:hover {
    color: #9f8066 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}