<!DOCTYPE html>
<html lang="en">
<style>

</style>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Ecoas by Proffesor ID</title>
</head>
<body>
    <h1>Get the ECOAS result, with the course number, course name, group number and semester by giving the professor ID</h1>
    <div class="inputs">
            <form method="GET" action="{{ url_for('Ecoas') }}">
                <label for="pID">Professor ID:</label>
                <input type="text" id="pID" name="pID">
                <input type="submit" value="Submit">
            </form>
        </div>
<table id="Ecoas" style="width:100%">
    {% if result %}
    <tr>
        <th>Ecoas Result</th>
        <th>Course Number</th>
        <th>Course Name</th>
        <th>Group Number</th>
        <th>Semester</th>
        <th>Year</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row.gEcoa }}</td>
        <td> {{ row.cNumber }} </td>
        <td> {{ row.cName }}</td>
        <td> {{ row.gNumber }}</td>
        <td> {{ row.gSemester }} </td>
        <td> {{ row.gYear }} </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>