<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <title>Bases de Datos</title>
</head>
<body>
  <h1>University database</h1>
  <ul>
    <li><a href="{{ url_for('students') }}"> Students Queries </a></li>
    <li><a href="{{ url_for('professor') }}">Professor Queries</a></li>
    <li><a href="{{ url_for('department') }}">Department Queries</a></li>
    <li><a href="{{ url_for('CourseBySID') }}">Get the courses a Student has by giving his ID</a></li>
    <li><a href="{{ url_for('TiemNomyNom') }}">Get the Available Time, Id and Name of Given Professor</a></li>
    <li><a href="{{ url_for('Ecoas') }}">Get the ECOAS result, with the course number, course name, group number and semestrer by giving the professor ID</a></li>
    <li><a href="{{ url_for('Phistory') }}"> Get the Professor History by giving his id</a></li>
  </ul>

</body>
</html>
